<!DOCTYPE html>

<html lang="zh-cn">
	<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- uc强制竖屏 -->

	<meta name="screen-orientation" content="portrait">

	<!-- QQ强制竖屏 -->

	<meta name="x5-orientation" content="portrait">
	<title>Santo和Dlee的电影网</title>
	<meta name="keywords" content="影视" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="public/static/uploads/20190711/706d38f2a54d0249eb0758c0c3a78e8e.png" />
	<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../static/css/color.css">
	<link rel="stylesheet" type="text/css" href="../static/css/global.css">
	<link rel="stylesheet" type="text/css" href="../static/css/page.css">
	<link rel="stylesheet" type="text/css" href="../static/css/uzlist.css">
	<link rel="stylesheet" type="text/css" href="../static/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/fancybox.css"/>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/superslide.2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/wow.min.js"></script>
	<script type="text/javascript" src="../static/js/fancybox.js"></script>
	<script type="text/javascript">

			var CATID = "0",

			BCID = "0",

            NAVCHILDER = "",

	        ONCONTEXT = 0,

	        ONCOPY = 0,

	        ONSELECT = 0;

	</script>
	<script type="text/javascript" src="../static/js/common.js"></script>
	</head>

	<body>
<div class="header" style="background:#00000;">
      <div class="container">
    <div class="logo fl">
          <div class="logo-img"><a href="index.html"><img src="../static/images/2b0361340f1b0ec566e2278448c97389.png" /></a></div>
        </div>
    <div class="nav nav-a fr">
          <ul>
        <li data-cid="0" class="on"> <a style="color:#000000" target="_self" href="/main">首页</a> </li>
        <li data-cid="24" > <a style="color:#000000" target="_self" href="/mv_info">电影</a> </li>
        <li data-cid="36" > <a style="color:#000000" target="_self" href="/individual">个人收藏</a> </li>
        <li data-cid="29" > <a style="color:#000000" target="_self" href="/wordcloud_info">词云</a> </li>
      </ul>
        </div>
  </div>
    </div>
<link rel="stylesheet" href="../static/css/swiper.css" />
<div class="swiper-container slide-usezans slide-usezans-b" style="background: #ffffff">
      <div class="swiper-wrapper">
    <div class="swiper-slide swiper-lazy" data-background="../static/images/19efd8cd3262432da65cf77a2716f0f2.jpg" style="width:100%;min-width:1180px;height:870px;">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
    <div class="swiper-slide swiper-lazy" data-background="../static/images/66e62ec67e662435fb6e49e3fba29e82.jpg" style="width:100%;min-width:1180px;height:870px;">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
  </div>
    </div>

<script src="../static/js/swiper.min.js"></script> 
<script src="../static/js/swiper.animate1.0.2.min.js"></script> 
<script type="text/javascript">

    var swiper = new Swiper('.swiper-container',{

        pagination:'.swiper-pagination',

        paginationClickable:true,

        nextButton:'.swiper-button-next',

        prevButton:'.swiper-button-prev',

        effect:"fade",

        lazyLoading:true,

        lazyLoadingInPrevNext : true,

        lazyLoadingInPrevNextAmount : 2,

        lazyLoadingOnTransitionStart : true,

        autoplay:3000,

        autoplayDisableOnInteraction:false,

        direction:'horizontal',

        mousewheelControl:false,

        mousewheelReleaseOnEdges:true,

        keyboardControl:true,

        onInit:function(swiper){

            swiperAnimateCache(swiper);

            swiperAnimate(swiper)

        },

        onSlideChangeEnd:function(swiper){

            swiperAnimate(swiper)

        }});

</script>

      <div class="plate-pic picture-a after tb80 back-black" style='background:#f8a135;'>
    <div class="container">
          <div class="comm-title">
        <div class="title">
              <h3>电影</h3>
              <p>全球最好看的影视都在这<a class="arta-more fr" href="/mv_info">更多</a></p>
            </div>
      </div>
          <div class="picture-lists">
        <ul class="wul105">
              <li> <a target="_self"  href="10.html">
                <div class="posi-img"> <img src="{{ image_url }}" referrerpolicy="no-referrer" alt="肖申克的救赎"/> </div>
                <div class="remark">
                <h5>肖申克的救赎</h5>
                <p>是美国作家斯蒂芬金的代表作</p>
              </div>
                </a> </li>
              <li> <a target="_self"  href="10.html">
                <div class="posi-img"> <img src="../static/images/fcb2f76acc1ec143108003ebea63eba9.jpg" alt="心灵捕手"/> </div>
                <div class="remark">
                <h5>心灵捕手</h5>
                <p>获得第70届奥斯卡金像奖</p>
              </div>
                </a> </li>
              <li> <a target="_self"  href="10.html">
                <div class="posi-img"> <img src="../static/images/bbd636871017115c8e48f0a5638b255d.jpg" alt="银河守护队"/> </div>
                <div class="remark">
                <h5>银河守护队</h5>
                <p>是漫威出品的科幻动作电影</p>
              </div>
                </a> </li>
              <li> <a target="_self"  href="10.html">
                <div class="posi-img"> <img src="../static/images/0d2182af15197626139a98d5627738c0.jpg" alt="正义联盟"/> </div>
                <div class="remark">
                <h5>正义联盟</h5>
                <p>同名长篇小说改编而成</p>
              </div>
                </a> </li>
              <li> <a target="_self"  href="10.html">
                <div class="posi-img"> <img src="../static/images/cf06d20065c3d72fb74efdd134648594.jpg" alt="反击美版"/> </div>
                <div class="remark">
                <h5>反击美版</h5>
                <p>孤胆英雄上演真人版CS</p>
              </div>
                </a> </li>
              <li> <a target="_self"  href="10.html">
                <div class="posi-img"> <img src="../static/images/e50abe54752f75cb6c5c9f39dcaa6ca0.jpg" alt="惊奇队长"/> </div>
                <div class="remark">
                <h5>惊奇队长</h5>
                <p>是美国安娜·波顿导演处女之作</p>
              </div>
                </a> </li>
            </ul>
      </div>
        </div>
  </div>
      <div class="plate-team team-b after tb80 back-black" style='background:#f36348;'>
    <div class="container">
          <div class="comm-title">
        <div class="title">
              <h3>个人收藏</h3>
              <p>你的个人电影库<a class="arta-more fr" href="/individual">更多</a></p>
            </div>
      </div>
          <div class="team-lists teamb-slide-38">
        <div class="hd"> <a class="prev icon5s s5you1"></a> <a class="next icon5s s5zou1"></a> </div>
        <div class="bd">
              <ul class="wul105">
            <li> <span class="bor-img click-more-team"><img src="../static/images/4693f19042177089c6205587dc7017ba.jpg"/></span>
                  <div class="remark">
                <h5>X战警</h5>
                <span class="position">动作</span>
                <p class="desc">X战警：天启是一部由布莱恩·辛格执导，詹姆斯·麦卡沃伊、迈克尔·法斯宾...</p>
                <a class="click-more-team">了解详情</a> </div>
                  <div class="dask-team hide"> <span class="team-colse icon5s s5guanbi1"></span>
                <div class="tit">
                      <h5>X战警<span>动作</span></h5>
                    </div>
                <div class="dask-remark">
                      <div class="t-left fl"> <img src="../static/images/4693f19042177089c6205587dc7017ba.jpg"/> </div>
                      <div class="t-right fr">
                    <h6>个人简介</h6>
                    <p>X战警：天启是一部由布莱恩·辛格执导，詹姆斯·麦卡沃伊、迈克尔·法斯宾德、詹妮弗·劳伦斯等主演的动作、冒险、科幻类型的电影，于2016年6月3日在中国上映。</p>
                  </div>
                    </div>
              </div>
                </li>
            <li> <span class="bor-img click-more-team"><img src="../static/images/3f58f1b34f0a514caf562da122d863e6.jpg"/></span>
                  <div class="remark">
                <h5>毒液</h5>
                <span class="position">科幻</span>
                <p class="desc">毒液：致命守护者是漫威娱乐与哥伦比亚影业联合出品、索尼电影娱乐公司发行...</p>
                <a class="click-more-team">了解详情</a> </div>
                  <div class="dask-team hide"> <span class="team-colse icon5s s5guanbi1"></span>
                <div class="tit">
                      <h5>毒液<span>科幻</span></h5>
                    </div>
                <div class="dask-remark">
                      <div class="t-left fl"> <img src="../static/images/3f58f1b34f0a514caf562da122d863e6.jpg"/> </div>
                      <div class="t-right fr">
                    <h6>个人简介</h6>
                    <p>毒液：致命守护者是漫威娱乐与哥伦比亚影业联合出品、索尼电影娱乐公司发行的科幻电影。于2018年10月5日在美国上映，2018年11月9日在中国大陆上映。</p>
                  </div>
                    </div>
              </div>
                </li>
            <li> <span class="bor-img click-more-team"><img src="../static/images/fb47ef6cb152dea8a8180ffd4900655a.jpg"/></span>
                  <div class="remark">
                <h5>哥斯拉</h5>
                <span class="position">科幻</span>
                <p class="desc">哥斯拉2： 怪兽之王是由传奇影业华纳兄弟影片公司、华桦文化联合出品，迈...</p>
                <a class="click-more-team">了解详情</a> </div>
                  <div class="dask-team hide"> <span class="team-colse icon5s s5guanbi1"></span>
                <div class="tit">
                      <h5>哥斯拉<span>科幻</span></h5>
                    </div>
                <div class="dask-remark">
                      <div class="t-left fl"> <img src="../static/images/fb47ef6cb152dea8a8180ffd4900655a.jpg"/> </div>
                      <div class="t-right fr">
                    <h6>个人简介</h6>
                    <p>哥斯拉2： 怪兽之王是由传奇影业华纳兄弟影片公司、华桦文化联合出品，迈克尔·道赫蒂执导，凯尔·钱德勒、米莉·博比·布朗、布莱德利·惠特福德、维拉·法梅加、渡边谦、莎莉·霍金斯、章子怡等人主演的一部科幻片。</p>
                  </div>
                    </div>
              </div>
                </li>
            <li> <span class="bor-img click-more-team"><img src="../static/images/021b2c18eb31b19e79b4eb16decb7e80.jpg"/></span>
                  <div class="remark">
                <h5>摩天营救</h5>
                <span class="position">冒险</span>
                <p class="desc">在香港市中心，世界上最高、结构最复杂的摩天大楼遭到破坏，危机一触即发。...</p>
                <a class="click-more-team">了解详情</a> </div>
                  <div class="dask-team hide"> <span class="team-colse icon5s s5guanbi1"></span>
                <div class="tit">
                      <h5>摩天营救<span>冒险</span></h5>
                    </div>
                <div class="dask-remark">
                      <div class="t-left fl"> <img src="../static/images/021b2c18eb31b19e79b4eb16decb7e80.jpg"/> </div>
                      <div class="t-right fr">
                    <h6>个人简介</h6>
                    <p>在香港市中心，世界上最高、结构最复杂的摩天大楼遭到破坏，危机一触即发。威尔·索耶的妻子萨拉和孩子们在98层被劫为人质，直接暴露在火线上。</p>
                  </div>
                    </div>
              </div>
                </li>
          </ul>
            </div>
      </div>
        </div>
  </div>
      <div class="dask-team-ceng hide"></div>
      <script type="text/javascript">

    $(".teamb-slide-38").slide({mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:3,trigger:"click",interTime:7000,pnLoop:false});

</script>
      <div class="plate-article article-d after tb80 back-white" style='background:#fff;'>
    <div class="container">
          <div class="comm-title">
        <div class="title">
              <h3>词云</h3>
              <p>电影评价高频词汇<a class="arta-more fr" href="/wordcloud_info">更多</a></p>
            </div>
      </div>
          <div class="article-lists">
          <div class="posi-img"> <img src="../static/images/茶馆.jpg" referrerpolicy="no-referrer" alt="茶馆"/> </div>
          <div class="posi-img"> <img src="../static/images/肖申克的救赎.jpg" referrerpolicy="no-referrer" alt="茶馆"/> </div>
          
      </div>
        </div>
  </div>
    </div>
<div class="footer footer-a back-black" style='background:#F67280;'>
      <div class="container">
    <div class="footer-text center">
          <div class="footer-nav"> <a target="_self" href="/main">首页</a> <a target="_self" href="/mv_info">电影</a> <a target="_self" href="/individual">个人收藏</a> <a target="_self" href="/wordcloud_info">词云</a> </div>
          <div class="copyright"> <span>Copyright © 2019 某某影视</span> <span>电话:13500000000</span> </div>
      </div>
        </div>
  

  
  </div>
    </div>

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
	<a href="http://cooco.net.cn/" title="组卷网">组卷网</a>
</div>
</body>
</html>
