<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>词云</title>
</head>
<body>
    <div class="box">
        <h2>wordcloud</h2>
        <form id="loginForm" action="/wordcloud" method="POST">
            <div class="input-box" >
                <label for="username">电影名称: </label>
                <input type="text" name="username" id="username">
            </div>
            </div>
            <div class="btn-box">
                <input type="submit" name="submit" id="submit" value="生成" >
            </div>
        </form>

    </div>
</body>
</html>